@page
@model WebApplication3.Pages.LoginModel
@{
    var isLockedOut = Model.isLockedOut;
}

<div class="container mt-5">
    <div class="row justify-content-center aligh-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="col-form-label" asp-for="model.Email">Email Address</label>
                    <input type="text" asp-for="model.Email" class="form-control" />
                    <span asp-validation-for="model.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="col-form-label" asp-for="model.Password">Password</label>
                    <input type="password" asp-for="model.Password" class="form-control" />
                    <span asp-validation-for="model.Password" class="text-danger"></span>
                </div>

                @if (isLockedOut)
                {
                    <div class="mb-3">
                        <p>Sorry, you are blocked</p>
                    </div>
                }

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
    </div>
</div>
